# Windows/Envoy specific Bazel build/test options.

build --define signal_trace=disabled
build --define hot_restart=disabled
build --define tcmalloc=disabled
# Build GRPC without c-ares support -- otherwise it will not link
build --define grpc_no_ares=true
build --experimental_enable_runfiles
# TODO: remove following line after story #163522172
build --experimental_cc_skylark_api_enabled_packages=@rules_foreign_cc//tools/build_defs,tools/build_defs
